* {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;
}


body {
  margin: 0;
  background: #f4f6fb;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

html {
  scroll-behavior: smooth;
}
